/* Global */

body {
	background-color: #f7f8f9;
}

input[type="submit"]:focus {
	cursor: progress;
	filter: brightness(80%);
}

/* Header */

header {
	margin: 0.4em;
	text-align: center;
}

header p {
	font-style: italic;
}

header p span {
	font-weight: bold;
}

/* Footer */

footer {
	width: 100%;
	/* position: fixed;
	left: 0;
	bottom: 0;
	margin: 0; */
	padding: 0.5em;
	margin-top: 1em;
	text-align: center;
	color: #fff;
	background-color: #303742;
}

footer p {
	margin-bottom: 0;
}

@media (min-width: 1280px) {
	footer p {
		display: inline;
	}
}

/* Figure panel */

#figure-panel {
	text-align: center;
}

/* Buttons bar */

#butons-bar {
	margin-bottom: 0.3em;
}

/* don't stick buttons on small screens */
input[type="submit"] {
	margin-top: 0.7em;
}

#get-btn-group {
	display: inline;
	float: right;
	/* margin-left:auto; */
	/* margin-right:0; */
}

/* Configuration panel */

#configuration-panel {
	clear: both;
	/* float: none; */
}

textarea {
	width: 100%;
	height: 20em;
	font-family: monospace;
	border: none;
	line-height: 1.45em;
	color: #839496;
	background-color: #073642;
}

/* .CodeMirror {
	height: 400px;
	font-size: 1em;
} */

/* Tabs -- source: https://github.com/picturepan2/spectre/issues/186#issuecomment-292870722 */

.tab-item > label:hover {
	cursor: pointer;
}

.tab-content {
	display: none;
}

.tab-locator:nth-of-type(1):checked ~ .tab-block > .tab-item:nth-of-type(1) > label > a,
.tab-locator:nth-of-type(2):checked ~ .tab-block > .tab-item:nth-of-type(2) > label > a,
.tab-locator:nth-of-type(3):checked ~ .tab-block > .tab-item:nth-of-type(3) > label > a {
	border-bottom-color: #5764c6;
	color: #5764c6;
}

.tab-locator:nth-of-type(1):checked ~ .tabs > .tab-content:nth-of-type(1),
.tab-locator:nth-of-type(2):checked ~ .tabs > .tab-content:nth-of-type(2),
.tab-locator:nth-of-type(3):checked ~ .tabs > .tab-content:nth-of-type(3) {
	display:block;
}
