<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	{{ og | raw }}
	<title>{{ title ? title ~ "| Miprem" : "Miprem" }}</title>
	<script src="vendor/popper.min.js"></script>
	<script src="vendor/tippy.min.js"></script>
	<link rel="stylesheet" href="vendor/spectre.min.css"/>
	<link rel="stylesheet" href="demo.css"/>
</head>

<body>
	<header>
		<h1><a href="/">Miprem</a></h1>
		<p id="subtitle">A <span>m</span>er<span>i</span>t <span>p</span>rofile
			<span>re</span>nderer for <span>m</span>ajority judgment.</p>
		{% if error %}
			<div class="toast toast-warning">{{ error }}</div>
		{% endif %}
	</header>

	<div id="main-content" class="grid-lg container">

		<div id="figure-panel">
			{{ mp_svg | raw }}
		</div>

		<div id="butons-bar">
			<input type="submit" form="mp-form" class="btn btn-primary" value="Update image"/>
			<div id="get-btn-group" class="btn-group">
				<input type="submit" form="mp-form" class="btn btn-primary" formaction="/html" value="Get html"/>
				<input type="submit" form="mp-form" class="btn btn-primary" formaction="/svg" value="Get svg"/>
				<input type="submit" form="mp-form" class="btn btn-primary" formaction="/png" value="Get png"/>
			</div>
		</div>

		<div id="configuration-panel">
			<form id="mp-form">
				<input type="radio" id="tab-poll" name="tab" value="poll" class="tab-locator"
				       hidden="hidden" {% if tab == 'poll' %} checked="checked" {% endif %} />
				<input type="radio" id="tab-config" name="tab" value="config" class="tab-locator"
				       hidden="hidden" {% if tab == 'config' %} checked="checked" {% endif %}/>
				<input type="radio" id="tab-style" name="tab" value="style" class="tab-locator"
				       hidden="hidden" {% if tab == 'style' %} checked="checked" {% endif %}/>

				<ul class="tab tab-block">
					<li class="tab-item"><label for="tab-poll"><a>Poll</a></label></li>
					<li class="tab-item"><label for="tab-config"><a>Config</a></label></li>
					<li class="tab-item"><label for="tab-style"><a>Style</a></label></li>
				</ul>

				<div class="tabs">
					<div class="tab-content">
						<textarea name="ta_poll_yaml">{{ poll_yaml }}</textarea>
					</div>

					<div class="tab-content">
						<textarea name="ta_svg_config_yaml">{{ svg_config_yaml }}</textarea>
					</div>

					<div class="tab-content">
						<textarea name="ta_custom_svg_css">{{ custom_svg_css }}</textarea>
					</div>
				</div>
			</form>
		</div>

	</div>

	<footer>
		<p>This is a demo client for
			<a href="https://framagit.org/roipoussiere/miprem">Miprem</a>
			currently working with <b>{{ server_name }}</b> server.
		</p>
		<p>
			Implementations available in
			<a href="https://framagit.org/roipoussiere/miprem-php">PHP</a>,
			<a href="https://framagit.org/roipoussiere/miprem-python">Python</a>
			and <a href="https://framagit.org/roipoussiere/miprem-js">Javascript</a>.
		</p>
	</footer>

</body>
</html>
